@import url("font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic");

html, body{
  margin: 0;
  padding: 0;
}

textarea:focus, input:focus{
    outline: none;
}

body, input, select, textarea {
  color: white;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 16pt;
  font-weight: 300;
  line-height: 1.65em;
}

a{
  /*transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;*/
  border-bottom: dotted 1px white;
  color: inherit;
  text-decoration: none;
}

input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: rgba(144, 144, 144, 0.075);
  border-radius: 4px;
  border: none;
  border: solid 1px rgba(144, 144, 144, 0.5);
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1em;
  text-decoration: none;
  width: 100%;
}

  input[type="text"]:invalid,
  input[type="password"]:invalid,
  input[type="email"]:invalid,
  select:invalid,
  textarea:invalid {
    box-shadow: none;
  }

  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="email"]:focus,
  select:focus,
  textarea:focus {
    border-color: white;
  }

.select-wrapper {
  text-decoration: none;
  display: block;
  position: relative;
}

  .select-wrapper:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
  }

  .select-wrapper:before {
    color: rgba(144, 144, 144, 0.5);
    content: '\f078';
    display: block;
    height: 2.75em;
    line-height: 2.75em;
    pointer-events: none;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 2.75em;
  }

  .select-wrapper select::-ms-expand {
    display: none;
  }

input[type="text"],
input[type="password"],
input[type="email"],
select {
  height: 2.75em;
}

textarea {
  padding: 0.75em 1em;
}

input[type="checkbox"],
input[type="radio"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  display: block;
  float: left;
  margin-right: -2em;
  opacity: 0;
  width: 1em;
  z-index: -1;
}

  input[type="checkbox"] + label,
  input[type="radio"] + label {
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: 300;
    padding-left: 2.4em;
    padding-right: 0.75em;
    position: relative;
  }

    input[type="checkbox"] + label:before,
    input[type="radio"] + label:before {
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-transform: none !important;
    }

    input[type="checkbox"] + label:before,
    input[type="radio"] + label:before {
      background: rgba(144, 144, 144, 0.075);
      border-radius: 4px;
      border: solid 1px rgba(144, 144, 144, 0.5);
      content: '';
      display: inline-block;
      height: 1.65em;
      left: 0;
      line-height: 1.58125em;
      position: absolute;
      text-align: center;
      top: 0;
      width: 1.65em;
    }

  input[type="checkbox"]:checked + label:before,
  input[type="radio"]:checked + label:before {
    background: #666666;
    border-color: #666666;
    color: #ffffff;
    content: '\f00c';
  }

  input[type="checkbox"]:focus + label:before,
  input[type="radio"]:focus + label:before {
    border-color: #6bd4c8;
  }

input[type="checkbox"] + label:before {
  border-radius: 4px;
}

input[type="radio"] + label:before {
  border-radius: 100%;
}

::-webkit-input-placeholder {
  color: white !important;
  opacity: 1.0;
}

:-moz-placeholder {
  color: #999 !important;
  opacity: 1.0;
}

::-moz-placeholder {
  color: #999 !important;
  opacity: 1.0;
}

:-ms-input-placeholder {
  color: white !important;
  opacity: 1.0;
}

.formerize-placeholder {
  color: white !important;
  opacity: 1.0;
}

/* ------------------  MY SETTINGS -------------------- */
/* Button */

  input[type="submit"],
  input[type="reset"],
  input[type="button"],
  button,
  .button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background-color: transparent;
    border-radius: 4px;
    border: 0;
    box-shadow: inset 0 0 0 1px white;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 0.9em;
    font-weight: 400;
    height: 2.75em;
    letter-spacing: 0.125em;
    line-height: 2.75em;
    padding: 0 2em;
    text-align: center;
    text-decoration: none;
    text-indent: 0.125em;
    text-transform: uppercase;
    white-space: nowrap;
  }


#B{
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url(images/header.jpg);
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
}

#B input{
  width: 500px;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

#B1{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#B button{
  display: block;
  margin: auto;
  background-color: white;
  color: black;
}

#B h1, p{
  text-align: center;
}

#B h1{
  font-weight: lighter;
}

#B b{
  font-size: 25px;
}
